
/* Select by Id ... */
#taxtreenodes_1 {
}

/* ... or by Class */
div.taxtreenodes {
}

/* Title of the vocabulary */
div.taxtreenodes h2 {
}

/* Title of the vocabulary */
div.taxtreenodes div.description {
}

/* The actual tree */
div.taxtreenodes div.tree {
}

/* UL for depth 0 */
div.taxtreenodes ul.depth_0 {
}

/* LI for term depth 0 */
div.taxtreenodes ul.depth_0 li.term {
}

/* LI for term depth 0 if it's a link */
div.taxtreenodes ul.depth_0 li.term a {
}

/* UL for nodes depth 0  */
div.taxtreenodes ul.depth_0 li.term ul.nodelist {
}

/* LI for node depth 0 */
div.taxtreenodes ul.depth_0 li.term ul.nodelist li {
}

/* LI for node of type page depth 0 */
div.taxtreenodes ul.depth_0 li.term ul.nodelist li.node-type-page {
}

/* LI for node depth 0 if it's a link */
div.taxtreenodes ul.depth_0 li.term ul.nodelist li a {
}

/* LI for node of type page depth 0 if it's a link */
div.taxtreenodes ul.depth_0 li.term ul.nodelist li.node-type-page a {
}

/* Same goes for depth_1, ... */
